BLOCKING_ENABLED=true
DHCP_ACTIVE=false
PIHOLE_DOMAIN={{ local_domain_name }}
WEBPASSWORD={{ pihole_password_unhashed }}
PIHOLE_INTERFACE={{ internal_ifname }}
IPV4_ADDRESS={{ ipv4_address_with_netmask }}
IPV6_ADDRESS=
PIHOLE_DNS_=192.168.2.100#5335
QUERY_LOGGING=true
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
LIGHTTPD_ENABLED=true
CACHE_SIZE=10000
ALLOW_ONLY_LOCAL_REQUESTS=false  # Disable restriction to local requests
DNSMASQ_LISTENING=all