BLOCKING_ENABLED=true
DHCP_ACTIVE=false
PIHOLE_DOMAIN={{ local_domain_name }}
WEBPASSWORD=edca135e3fe09b4b48435f0e5963ed99c39f2f4b1eb83e88058368454c917b58
PIHOLE_INTERFACE={{ internal_ifname }}
IPV4_ADDRESS={{ ipv4_address_with_netmask }}
IPV6_ADDRESS=
PIHOLE_DNS_1=1.1.1.1
PIHOLE_DNS_2=8.8.8.8
QUERY_LOGGING=true
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
LIGHTTPD_ENABLED=true
CACHE_SIZE=10000