# Global Agent Configuration
[agent]
  debug = true
  interval = "10s"  # Polling interval
  round_interval = true
  flush_interval = "10s"
  flush_jitter = "0s"
  precision = ""
  omit_hostname = false

# InfluxDB Output Plugin
[[outputs.influxdb_v2]]
  urls = ["http://192.168.2.166:8086"] # InfluxDB server URL
  token = "DNJmcTLgt73h8PzAAgsEJt8YXTYW37OQFsES6D5uOyL8Hzw3LNGbFaN1x0-MkDMB0ctW5yVS_pZioHZBvB89Ug=="
  organization = "homelab"
  bucket = "homelab_metrics"

# Input Plugins

[[inputs.http]]
  urls = ["http://192.168.2.100/admin/api.php?summaryRaw&auth=edca135e3fe09b4b48435f0e5963ed99c39f2f4b1eb83e88058368454c917b58"]
  method = "GET"
  timeout = "5s"
  success_status_codes = [200]
  data_format = "json"
  name_override = "pihole_zelda"


# System Monitoring
[[inputs.cpu]]
  percpu = true
  totalcpu = true
  collect_cpu_time = false
  report_active = false

[[inputs.mem]]

[[inputs.disk]]
  ignore_fs = ["tmpfs", "devtmpfs"]

[[inputs.nstat]]

[[inputs.system]]

[[inputs.processes]]
